$textGray: #7d7d7d;

.menu-item {
    align-items: center;
    display: flex;
    gap: 1rem;

    .leftMenu {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .midMenu {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 10px;

        now-input {
            width: 100%;
            max-width: 250px;
        }

        now-dropdown {
            max-width: 105px;
        }

        .link-label {
            color: $textGray;
            margin: 0;
            width: 100%;
            font-size: 1rem;
        }
    }

    .rightMenu {
        display: flex;
        margin-left: auto;
        margin-right: 30px;
        max-width: 100px;
        flex-direction: row-reverse;
        align-items: center;

        now-collapse {
            div {
                gap: 10px;
                display: flex;
                align-items: center;

                now-button-iconic {
                    color: red !important;

                    button {
                        color: red !important;

                        now-icon {
                            color: red !important;
                            svg {
                                color: red !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

li {
    list-style-type: none;
}

span {
    text-transform: capitalize;
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 32px;

    &[data-choice="menu"] {
        background-color: #379099;
    }

    &[data-choice="action"] {
        background-color: #28a745;
    }
}