div {
    border-radius: 32px;
    background: #f3f3f4 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    padding-left: 30px;
}

.menu-item {
    width: 100%;
}
